<div></div>
<div class="slide-container">
  
  <div class="wrapper">
    <div class="clash-card barbarian">
      <div class="clash-card__image clash-card__image--barbarian">
      <img src="../../assets/img/perfil.jpeg" alt="wesklin">
      </div>
      <div class="clash-card__level clash-card__level--barbarian">Aluno</div>
      <div class="clash-card__unit-name">Weskley S Rocha</div>
      <div class="clash-card__unit-description">
        Fatec Baixada Santista Rubens Lara <br>
        Sistemas Para Internet
      </div>

      <div class="clash-card__unit-stats clash-card__unit-stats--barbarian clearfix">
        <div class="one-third">
          <div class="stat"><sup></sup></div>
          <div class="stat-value"></div>
        </div>


      </div>

    </div> 
  </div> 
  
  
  
</div>